numpy
Cython
python-igraph
louvain
leidenalg
GPy
scanpy
sklearn
jupyter
jupyterlab
velocyto
snakemake
pytest
fitsne
plotly
ggplot
cmake
spatialde
polo
rpy2
bbknn
scvelo
wot
cellphonedb
pyscenic
scirpy
scvi-tools
sccaf
palantir
